{% extends 'base.html.twig' %}
{% block body %}
    {% for quizzs in questions %}
        <p id="quizz{{ quizzs.id }}">{{ quizzs.question }}</p>
        <p id="reponse{{ quizzs.id }}"></p>
        <input id="{{ quizzs.id }}" class="verif" type="text">
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.verif').on('focusout', function () {
                var id = $(this).attr('id');
                var content = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('verification', {id: id, content: content}),
                    dataType: "json",
                    success: function (data) {
                        if (data == 'OK') {
                            $('#reponse' + id).text('Bon');
                        } else {
                            $('#reponse' + id).text(data);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}